
<div class="row">

  <div class="col-sm-6" *ngIf="alunoSelecionado">
    <div class="row">
      <div class="col-10">
        <app-titulo [titulo]="'Aluno: ' + alunoSelecionado.nome"></app-titulo>
      </div>
      <div class="col-2">
        <br /> <button class=" btn btn-sm btn-outline-danger" (click)="removerSelecaoAluno()">Fechar</button>
      </div>
    </div>

    <form [formGroup]=" alunoForm" (submit)="alunoSubmit()">
      <div class="mb-3">
        <label for="formGroupExample1" class="form-label">Nome</label>
        <input type="text" formControlName="nome" class="form-control" aria-describedby="emailHelp">

      </div>
      <div class="mb-3">
        <label for="formGroupExample2" class="form-label">Sobrenome</label>
        <input type="text" formControlName="sobrenome" class="form-control" aria-describedby="emailHelp">

      </div>
      <div class="mb-3">
        <label for="formGroupExample3" class="form-label">Telefone</label>
        <input type="text" formControlName="telefone" class="form-control" aria-describedby="emailHelp">

      </div>
      <hr />
      <button type="submit" class="btn btn-sm btn-success" [disabled]="!alunoForm.valid">Submit</button>
    </form>



  </div>

  <div [ngClass]="{'col-sm-12':!alunoSelecionado, 'col-sm-6':alunoSelecionado}">
    <app-titulo [titulo]="titulo"></app-titulo>
    <table class="table table-success table-striped table-hover">
      <thead>
        <tr class="table-dark">
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Telefone</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos">
          <th scope="row">{{aluno.id}}</th>
          <td>{{aluno.nome}}</td>
          <td>{{aluno.sobrenome}}</td>
          <td>{{aluno.telefone}}</td>
          <td>
            <div class="btn-group">
              <button (click)="alunoSelect(aluno)" class="btn btn-sm btn-warning">Detalhes</button>
              <button (click)="openModal(template)" class="btn btn-sm btn-primary">Professores</button>
              <!--<button class="btn btn-sm btn-danger">Desativar</button>-->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>




<ng-template #template>
  
  <div class="modal-body">
    <app-professores></app-professores>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-success  pull-right" aria-label="Close" (click)="modalRef?.hide()">
      Fechar 
    </button>
  </div>
</ng-template>

